.seats-meals-luggage-page {
  display: flex;
  flex-direction: column;

  .seats-meals-luggage-page__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; // Behind content

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background-color: #01493e; // Top color
    }

    &::after {
      content: "";
      position: absolute;
      top: 40%;
      left: 0;
      width: 100%;
      height: 60%;
      background-color: #e6ebf0; // Bottom color
    }
  }

  .seats-meals-luggage-page__content {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 50px;
  }

  .seats-meals-luggage-page__left-section {
    flex: 0 0 70%;
    padding: 20px;
  }

  .seats-meals-luggage-page__right-section {
    padding: 20px;
    position: sticky;
    width: 20%; /* Right side price details */
    height: 100%;

    .seats-meals-luggage-page__proceed-button {
      margin-top: 20px;
      width: 100%;
      max-width: 264px;
      padding: 15px;
      background-color: #027f6d;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .seats-meals-luggage-page__card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .seats-meals-luggage-page__icons {
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; // Space between icons
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;

    .seats-meals-luggage-page__iconsContainer {
      p {
        text-align: center;
        margin: 0;
        margin-top: 5px;
      }
    }

    .icon-container {
      display: flex;
      flex-direction: column;
      align-items: center; // Ensures the content is centered vertically
      justify-content: center; // Centers icon and text vertically
      padding: 10px;
      border: 2px solid #ccc;
      border-radius: 8px;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.3s ease;

      svg {
        font-size: 24px;
        color: #333;
      }

      p {
        font-size: 14px;
        color: #333;
        text-align: center;
        margin: 0; // Ensures no extra space between icon and text
      }

      &.active {
        background-color: #01493e;
        border-color: #01493e;
        color: white;

        svg {
          color: white;
        }

        p {
          color: white;
        }
      }
    }

    .icon-divider {
      height: 2px;
      background-color: #ccc;
      width: 180px;
      margin-top: -10px;
    }

    .skip-button {
      margin-left: auto; // To align the skip button to the right
      padding: 10px 40px;
      background-color: transparent;
      border: 1px solid #000;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }
  }
}
