.Flight_list_round_trip {
  display: flex;
  justify-content: space-between; /* This ensures the left and right sections */
  gap: 2rem;
  position: relative; /* To position the modal correctly */

  .Flight_list_round_trip__flight-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1; /* Ensures both sections take equal space */

    h2 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      color: #333;
    }

    .Flight_list_round_trip__flight-card {
      display: flex;
      flex-direction: column;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 1rem;
      padding-top: 2rem;
      cursor: pointer;
      transition: all 0.2s ease;
      position: relative;
      background-color: #fff;
      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      &.selected {
        border: 2px solid;
        border-color: #0b3e36;
        box-shadow: 0 4px 12px rgba(76, 175, 80, 0.3);
      }

      .Flight_list_round_trip__label {
        position: absolute;
        top: 1px;
        right: 1px;
        background-color: #0b3e36;
        color: #fff;
        font-size: 0.8rem;
        padding: 0.3rem 1.5rem;
        border-top-left-radius: 2px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 7px;

        &.fastest {
          background-color: #0b3e36;
        }

        &.cheapest {
          background-color: #0b3e36;
        }
      }

      .Flight_list_round_trip__flight-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.details {
          margin-top: 0.3rem;

          .Flight_list_round_trip__time-location,
          .Flight_list_round_trip__duration-stops {
            flex: 1;
            text-align: center;
            .Flight_list_round_trip__time-uk {
              font-weight: bold;
              color: #333; /* UK Time (en-GB) style */
            }

            .Flight_list_round_trip__time-us {
              color: black; /* US Time (en-US) style */
              font-weight: 700;
              opacity: 0.7;
              font-size: 12px;
            }
            .Flight_list_round_trip__Airportdetails {
              font-weight: 500;
              color: black;
              font-size: 14px;
            }
            .Flight_list_round_trip__duration {
              color: black;
              font-size: 2px;
              font-size: 0.9rem;
              font-weight: 500;
            }
            p {
              margin: 0.3rem 0;
            }
            .Flight_list_round_trip__lineWithIcon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              margin: 0.2rem 0;

              .Flight_list_round_trip__line {
                flex-grow: 1;
                height: 1px;
                background-color: #c8c8c8;
              }

              .Flight_list_round_trip__airplaneIcon {
                font-size: 0.8rem;
                color: #c8c8c8;
                margin: 0 0.3rem; /* Adjust spacing around the icon */
              }
            }
          }
        }

        .Flight_list_round_trip__flight-logo {
          display: flex;
          flex-direction: column;
          align-items: center;

          .Flight_list_round_trip__flightNumber {
            font-weight: 400;
          }
          img {
            width: 70px;
            height: 20px;
            border-radius: 4px;
            margin: 0;
          }

          p {
            margin-top: 5px;
            font-size: 14px;
            font-weight: bold;
            color: #333;
          }
        }

        .Flight_list_round_trip__flight-price {
          font-size: 1.2rem;
          font-weight: bold;
          color: black;
        }
      }
    }
  }
}
.flightListOneWay__Extra {
  padding-bottom: 200px;
}

.Flight_list_round_trip__flight-bottom-modal-container {
  .Flight_list_round_trip__flight-bottom-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    padding: 1rem;
    position: fixed; /* Fix the modal to the bottom */
    bottom: 0;
    left: 100px;
    width: 80%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);

    p {
      font-size: 1rem;
      margin: 0.5rem 0;
      color: #555;

      &:first-child {
        font-weight: bold;
      }
    }

    button {
      background-color: #4caf50;
      color: #fff;
      border: none;
      padding: 0.7rem 1.5rem;
      font-size: 1rem;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #45a049;
      }
    }
  }
}
