.flightListOneWay {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .flightListOneWay__card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; /* To position the tag absolute */

    .flightListOneWay__header {
      display: flex;
      align-items: left;
      flex-direction: column;
      justify-content: center;
      gap: 5px;

      .flightListOneWay__logo {
        width: 100px;
        height: 25px;
        margin-bottom: 2px;
        object-fit: contain;
      }
      .flightListOneWay__flightNumberContainer {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100px;

        .flightListOneWay__flightNumber {
          font-size: 14px;
          font-weight: 500;
        }
      }
      .flightListOneWay__tag {
        border-top-left-radius: 2px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 7px;
        position: absolute;
        top: 2px;
        right: 2px;
        background-color: #0b3e36;
        color: white;
        padding: 0.5rem 2rem;
        font-size: 14px;
        font-weight: 500;
      }
    }
    .flightListOneWay__row {
      display: flex;
      align-items: center;

      .flightListOneWay__column {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center content horizontally */
        justify-content: center; /* Center content vertically */
        text-align: center; /* Center text within column */
        flex: 1;
      }

      .flightListOneWay__time {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        display: flex;
        gap: 0.3rem; // Add space between the two formats

        .time24Hour {
          color: black; // Style for 24-hour format
          font-weight: 700;
          font-size: 18px;
        }

        .time12Hour {
          color: black; // Style for 12-hour format (you can adjust this color)
          font-size: 14px;
          opacity: 0.7;
          font-weight: 700;
          line-height: 20px;
        }
      }

      .flightListOneWay__location {
        font-size: 14px;
        color: black;
        font-weight: 500;
      }

      .flightListOneWay__duration,
      .flightListOneWay__stops {
        font-size: 14px;
        color: black;
      }

      .flightListOneWay__duration {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .flightListOneWay__lineWithIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin: 0.2rem 0;
      }
      .flightListOneWay__line {
        flex-grow: 1;
        height: 1px;
        background-color: #c8c8c8;
      }

      .flightListOneWay__airplaneIcon {
        font-size: 0.8rem;
        color: #c8c8c8;
        margin: 0 0.3rem; /* Adjust spacing around the icon */
      }

      .flightListOneWay__price {
        font-size: 1.2rem;
        font-weight: 700;
        color: black;
        margin-bottom: 0.5rem;
      }
    }

    .flightListOneWay__bookNow {
      background-color: #0b3e36;
      color: #fff;
      border: none;
      padding: 0.5rem 1.5rem;
      border-radius: 3px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .flightListOneWay__Extra {
    padding-bottom: 100px;
  }
}
