.OneWayTicketDetails__flight-ticket-card {
  width: 800px;
  display: grid;
  gap: 16px;
  padding: 16px 48px;

  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;

  .OneWayTicketDetails__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-1 {
      justify-content: space-between;

      .OneWayTicketDetails__flight-logo {
        text-align: center;

        img {
          display: block;
          width: 80px;
          height: auto;
        }

        p {
          margin: 8px 0 0;
          font-size: 0.9rem;
          font-weight: 700;
          opacity: 0.7;
        }
      }

      .OneWayTicketDetails__selected-class {
        text-align: right;

        p {
          font-size: 1rem;
          font-weight: 700;
          opacity: 0.7;
        }
      }
    }

    &-2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .OneWayTicketDetails__column {
        p {
          margin: 0;
        }
        .OneWayTicketDetails__time {
          margin-bottom: 2px;
        }
        .OneWayTicketDetails__airportDetails {
          margin-bottom: 8px;
        }

        .OneWayTicketDetails__start-time-24hr {
          font-size: 16px;
          font-weight: 700;
          color: black;
        }

        .OneWayTicketDetails__start-time-12hr {
          color: black;
          font-size: 14px;
          font-weight: 700;
          opacity: 0.7;
        }

        .OneWayTicketDetails__iata {
          font-weight: 700;
          font-size: 20px;
          color: black;
        }

        .OneWayTicketDetails__city,
        .OneWayTicketDetails__airport-name {
          font-size: 14px;
          color: black;
          font-weight: 700;
          opacity: 0.7;
        }
        .OneWayTicketDetails__arrow {
          display: flex;
          align-items: center;
          justify-content: center;

          .OneWayTicketDetails__long-arrow {
            position: relative;
            width: 70px;
            height: 2px;
            background-color: black;
            opacity: 0.7;
            margin-right: -10px;
          }

          .OneWayTicketDetails__chevron-right {
            margin: 0;
            font-size: 1rem; // Chevron size
            color: black;
            font-weight: 700;
            opacity: 0.7;
          }
        }

        /* Column 1 - Left alignment */
        &.OneWayTicketDetails__column-left {
          text-align: left;
        }

        /* Column 2 - Center alignment */
        &.OneWayTicketDetails__column-center {
          text-align: center;
        }

        /* Column 3 - Right alignment */
        &.OneWayTicketDetails__column-right {
          text-align: right;
        }

        &.OneWayTicketDetails__duration-info {
          .OneWayTicketDetails__info-item {
            margin: 0;
            padding: 0;
            opacity: 0.7;
            font-size: 1rem; // Same size for both duration and stops
            font-weight: 500; // Bold text for both
            color: black; // Dark color for both
          }

          .OneWayTicketDetails__arrow {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            hr {
              border: none;
              border-top: 2px solid #000;
              width: 50%;
            }
          }
        }
      }
    }

    &-3 {
      text-align: center;

      p {
        font-size: 1rem;
        font-weight: 700;
        color: black;
        opacity: 0.7;
      }
    }
  }
}
