.passenger-details {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 25px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  h2 {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .passenger-details__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    margin-bottom: 1rem;

    .passenger-details__item-info {
      flex: 1;

      h3 {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        color: black;
        opacity: 0.7;
      }

      p {
        margin: 0.2rem 0;
        padding: 0;
        font-size: 1.2rem;
        color: black;
        font-weight: 700;
      }

      span {
        color: #f44336;
        font-size: 1.2rem;
      }
    }

    .passenger-details__item-actions {
      display: flex;
      gap: 1rem;

      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease;

        &:first-child {
          background-color: #027f6d;
          color: white;

          &:hover {
            background-color: #01493e;
          }

          svg {
            margin-right: 0.5rem;
          }
        }

        &:last-child {
          background-color: #f44336;
          color: white;

          &:hover {
            background-color: #d32f2f;
          }
        }
      }
    }
  }

  .passenger-details__add-button {
    width: 150px;
    margin-top: 25px;
    padding: 10px 5px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    transition: background-color 0.3s ease;
  }
}

//modal
.passenger-details__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .passenger-details__modal-content {
    background: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    width: 50%;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      color: black;
      font-weight: 700;
    }

    .passenger-details__form-row {
      display: flex;
      gap: 1rem;

      .passenger-details__form-group {
        flex: 1;
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 0.2rem;
          font-weight: 600;
        }

        input,
        select {
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 1rem;
          margin-bottom: 1.5rem;
        }

        // Error styles for input and select
        &.error {
          input,
          select {
            border-color: red;
          }

          label {
            color: red;
          }
        }

        // Error message styles
        .error {
          margin-top: -1rem;
          color: red;
          font-size: 0.875rem;
        }
      }
    }

    .passenger-details__form-actions {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;

      button {
        padding: 0.8rem 1.5rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &.passenger-details__save-button {
          background-color: #027f6d;
          color: white;

          &:hover {
            background-color: #01493e;
          }
        }
      }
    }
  }
}
