.withdraw-page {
  position: relative;
  min-height: 100vh;
  padding: 20px;

  .withdraw-page-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background-color: #01493e;
    }

    &::after {
      content: "";
      position: absolute;
      top: 40%;
      left: 0;
      width: 100%;
      height: 60%;
      background-color: #e6ebf0;
    }
  }

  .withdraw-page-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0px 40px;

    .withdraw-page-card {
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 40%;
      display: flex;
      flex-direction: column;

      .withdraw-page-card-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        &.wallet-balance {
          padding-top: 20px;
          font-size: 24px;
          font-weight: 600;
          border-bottom: 2px solid #b7b7b780;
          padding-bottom: 10px;
          margin-bottom: 20px;
        }

        &.smaller-text {
          padding: 5px 0;
          font-size: 16px;
          font-weight: 500;
          color: #000;
        }

        span {
          display: block;
        }
      }

      .withdraw-page-input-section {
        margin-top: 20px;

        label {
          display: block;
          margin-bottom: 8px;
          font-weight: bold;
        }

        .input-withdraw-container {
          display: flex;
          align-items: center;
          border: 1px solid rgba(0, 0, 0, 0.3); // 70% opacity on the border
          padding: 5px;
          border-radius: 4px;

          input {
            width: 100%;
            padding: 8px;
            border: none !important; // Remove input border
            border-radius: 4px;
            margin-right: 10px; // Space between input and button

            &:focus {
              outline: none; // Removes default outline
              border: none; // Removes border when the input is selected
            }
          }

          .withdraw-button {
            padding: 8px 30px;
            background-color: #01493e;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
              background-color: #012d29;
            }
          }
        }
      }
    }

    .withdraw-page-credit-card-placeholder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%; // Adjust the height of the placeholder
      text-align: center;
      border: 2px dashed #01493e;
      border-radius: 8px;
      background-color: #f9f9f9; // Add a subtle background color

      .plus-icon {
        font-size: 60px; // Adjust the size of the plus icon
        font-weight: bold;
        color: #01493e; // Icon color
      }

      p {
        font-size: 16px;
        color: #01493e; // Text color
        font-weight: bold;
      }
    }
  }
}
