.ticket-detail-page {
  position: relative;
  min-height: 100vh;

  // Background with two solid colors
  .ticket-detail-page__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; // Behind content

    // Top section (40% height)
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background-color: #01493e; // Top color
    }

    // Bottom section (remaining height)
    &::after {
      content: "";
      position: absolute;
      top: 40%;
      left: 0;
      width: 100%;
      height: 60%;
      background-color: #e6ebf0; // Bottom color
    }
  }

  // Main Content Section
  .ticket-detail-page__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    margin: 0 auto;
    max-width: 1200px;
  }
  .ticket-detail-page__left-section {
    width: 75%; /* Take up 60% of the screen */
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Space between ticket details and passenger details */
  }

  .ticket-detail-page__price-details {
    position: sticky;
    top: 50px;
    width: 20%; /* Right side price details */
    height: 100%;
  }
}
